interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://webtris.highwaysengland.co.uk/api/v1.0/sites/1
  response:
    body:
      string: '{"row_count":1,"sites":[{"Id":"1","Name":"MIDAS site at M4/2295A2 priority
        1 on link 105009001; GPS Ref: 502816;178156; Westbound","Description":"M4/2295A2","Longitude":-0.520379557723297,"Latitude":51.4930115367112,"Status":"Inactive"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
