interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://webtris.highwaysengland.co.uk/api/v1.0/areas/1
  response:
    body:
      string: '{"row_count":1,"areas":[{"Id":"1","Name":"A1 Darrington to Dishforth
        DBFO","Description":"A1 Darrington to Dishforth DBFO","XLongitude":"-1.254871768539999","XLatitude":"53.682776925799999","YLongitude":"-1.446163528140000","YLatitude":"54.154346387899999"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
