interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://webtris.highwaysengland.co.uk/api/v1.0/reports/daily?sites=8438&start_date=30122019&end_date=02012020&page=1&page_size=50
  response:
    body:
      string: '{"Header":{"row_count":384,"start_date":"30122019","end_date":"02012020","links":[{"href":"http://webtris.highwaysengland.co.uk/api/v1.0/reports/Daily?sites=8438&start_date=30122019&end_date=02012020&page=2&page_size=50","rel":"nextPage"}]},"Rows":[{"Site
        Name":"7639/2","Report Date":"2019-12-30T00:00:00","Time Period Ending":"00:14:00","Time
        Interval":"0","0 - 520 cm":"60","521 - 660 cm":"0","661 - 1160 cm":"2","1160+
        cm":"13","0 - 10 mph":"","11 - 15 mph":"","16 - 20 mph":"","21 - 25 mph":"","26
        - 30 mph":"","31 - 35 mph":"","36 - 40 mph":"","41 - 45 mph":"","46 - 50 mph":"","51
        - 55 mph":"","56 - 60 mph":"","61 - 70 mph":"","71 - 80 mph":"","80+ mph":"","Avg
        mph":"53","Total Volume":"75"}[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://webtris.highwaysengland.co.uk/api/v1.0/reports/monthly?sites=8438&start_date=30122019&end_date=02012020&page=1&page_size=50
  response:
    body:
      string: '{"Header":{"row_count":2,"start_date":"30122019","end_date":"02012020","links":[]},"MonthCollection":[{"Month":"December
        2019","SiteId":"8438","Days":[{"DayNumber":"1","DayName":"Sun","FlowValue":"29422","LargeVehiclePercentage":"5.2"},{"DayNumber":"2","DayName":"Mon","FlowValue":"36118","LargeVehiclePercentage":"14.9"},{"DayNumber":"3","DayName":"Tue","FlowValue":"35146","LargeVehiclePercentage":"15.0"},{"DayNumber":"4","DayName":"Wed","FlowValue":"36284","LargeVehiclePercentage":"15.0"},{"DayNumber":"5","DayName":"Thur","FlowValue":"25324","LargeVehiclePercentage":"14.7"},{"DayNumber":"6","DayName":"Fri","FlowValue":"35091","LargeVehiclePercentage":"16.2"},{"DayNumber":"7","DayName":"Sat","FlowValue":"27425","LargeVeh[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://webtris.highwaysengland.co.uk/api/v1.0/reports/annual?sites=8438&start_date=30122019&end_date=02012020&page=1&page_size=50
  response:
    body:
      string: '{"Header":{"row_count":2,"start_date":"01/12/2019","end_date":"31/01/2020","links":[]},"AnnualReportBody":[{"Year":"2019","SiteId":"8438","AnnualReportMonthlyDataRows":[{"MonthName":"Jan","AnnualReportRow":{"ADT24Hour":"30755","ADT24LargeVehiclePercentage":"13.1","AWT24Hour":"33124","AWT24LargeVehiclePercentage":"15.0","ADT18Hour":"29162","ADT18LargeVehiclePercentage":"12.0","AWT18Hour":"31352","AWT18LargeVehiclePercentage":"13.9","ADT16Hour":"28232","ADT16LargeVehiclePercentage":"11.8","AWT16Hour":"30369","AWT16LargeVehiclePercentage":"13.6","ADT12Hour":"23875","ADT12LargeVehiclePercentage":"11.4","AWT12Hour":"25552","AWT12LargeVehiclePercentage":"13.3"}},{"MonthName":"Feb","AnnualReportRow":{"ADT24Hour":"33330","ADT24LargeVehiclePercentage":"13.2","AWT24Hour":"36096","AWT24LargeVehiclePercentage":"15.3","ADT18Hour":"31568","ADT18LargeVehiclePercentage":"11.9","AWT18Hour":"34152","AWT18LargeVehiclePercentage":"14.0","ADT16Hour":"30536","ADT16LargeVehiclePercentage":"11.7","AWT16Hour":"33061","AWT16LargeVehiclePercentage":"13.8","ADT12Hour":"25713","ADT12LargeVehiclePercentage":"11.4","AWT12Hour":"27708","AWT12LargeVehiclePercentage":"13.[...]
