interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://webtris.highwaysengland.co.uk/api/v1.0/areas
  response:
    body:
      string: '{"row_count":25,"areas":[{"Id":"1","Name":"A1 Darrington to Dishforth
        DBFO","Description":"A1 Darrington to Dishforth DBFO","XLongitude":"-1.254871768539999","XLatitude":"53.682776925799999","YLongitude":"-1.446163528140000","YLatitude":"54.154346387899999"},{"Id":"2","Name":"A19
        DBFO","Description":"A19 DBFO","XLongitude":"-1.112365622160000","XLatitude":"54.153504688799998","YLongitude":"-1.490683075040000","YLatitude":"54.974952856000002"},{"Id":"3","Name":"A1M
        DBFO","Description":"A1M DBFO","XLongitude":"-0.233960881385999","XLatitude":"52.360424716300003","YLongitude":"-0.328372747518000","YLatitude":"52.534769924199999"},{"Id":"4","Name":"A249
        DBFO","Description":"A249 DBFO","XLongitude":"0.7725873[...]
